<div class="container">
  <div class="upper-footer">
    <div class="logos">
      <div class="logo-zoo">
        <img src="../assets/images/logo-white.svg" alt="logo-white" />
      </div>
      <div href="/" class="logo-yem">
        <img src="../assets/images/yem.svg" alt="logo-yem" />
      </div>
      <div href="/" class="logo-rs">
        <img src="../assets/images/rs_school_js logo.svg" alt="logo-rs" />
      </div>
    </div>
    <nav class="nav">
      <a href="/" class="nav-link">About</a>
      <a href="/map/" class="nav-link">Map</a>
      <a href="/zoos/" class="nav-link">Zoos</a>
      <a href="/contact-us/" class="nav-link">Contact us</a>
    </nav>
    <button class="btn">
      <span>Donate for volunteers</span
      ><img src="../assets/icons/arrow.svg" alt="arrow" />
    </button>
  </div>
  <div class="separator"></div>
  <div class="down-footer">
    <div class="navigations-container">
      <ul class="soc-media-container">
        <li>
          <a href="https://www.youtube.com/" target="_blank">
            <img src="../assets/icons/YouTube.svg" alt="YouTube" />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com" target="_blank">
            <img src="../assets/icons/Instagram.svg" alt="Instagram" />
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com" target="_blank">
            <img src="../assets/icons/Facebook.svg" alt="Facebook" />
          </a>
        </li>
      </ul>
    </div>
    <ul class="copyright">
      <li>© 2021 DinaK</li>
      <li>© Yem Digital</li>
      <li>© RSSchool</li>
    </ul>
  </div>
</div>
